
  .navbar-light{
    margin-bottom: .1em;
 
  }
  .nav-item{
    flex: 1 1 0;
    text-align: center;
   
   
  }

  .navbar-nav,
  .mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-around;
  
  }
  
  .navBlack{
    background-color: #3c424d;
    border-bottom:.1em solid red;
    box-shadow: 1px 1px 0 red;
   
    
  }
  .navbar-light{
     padding: 0;
  //   margin-left: -4%;
  //   margin-right: -2.2%;
   }
  .navNav{
    padding: 0;
  }
   
    .active {
     background-color: white;
      color :black !important;
    
    }
 
   a {
       
      color: white !important;
    
      }