.card{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    text-align: center;
    border:.1em solid red;
    box-shadow: 1px 1px 0 red;
}

.btn-group-vertical{
    float: none;
    margin: 0 auto;
}