<h1 class="planning mt-0 mb-3 text-center">DEBAT</h1>
<hr>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.lechorepublicain.fr/photoSRC/VVNUJ1paUTgIBhVOCRAHHQ4zRSkXaldfVR5dW1sXVA49/canicule_4391585.jpeg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Faut-il fermer les écoles en période de canicule?</p>
    </div>
  </div>
  <div class="col-12 text-center"> 
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-outline-secondary center-block">Pour</button>
    <button type="button" class="btn btn-outline-secondary">Contre</button>
    <button type="button" class="btn btn-outline-secondary">Sans Opinion</button>
    <button type="button" class="btn btn-outline-secondary">Donnez nous votre avis</button>
    <div class="form-group">
        
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
</div>
</div>